EyeProject/Service References/EyeRef2/EyeWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://eyeplatform.azurewebsites.net/EyeWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="addressList" nillable="true" type="tns:ArrayOfAddress" />
      <xs:element minOccurs="0" name="dob" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
      <xs:element minOccurs="0" name="userTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="user" nillable="true" type="tns:user" />
  <xs:complexType name="ArrayOfAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddress" nillable="true" type="tns:ArrayOfAddress" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="addressType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="streetName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zipcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="ArrayOfPatient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Patient" nillable="true" type="tns:Patient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatient" nillable="true" type="tns:ArrayOfPatient" />
  <xs:complexType name="Patient">
    <xs:sequence>
      <xs:element minOccurs="0" name="dob" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parentId" type="xs:int" />
      <xs:element minOccurs="0" name="patientId" type="xs:int" />
      <xs:element minOccurs="0" name="providerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Patient" nillable="true" type="tns:Patient" />
  <xs:complexType name="ArrayOfuser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="user" nillable="true" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuser" nillable="true" type="tns:ArrayOfuser" />
  <xs:complexType name="Therapy">
    <xs:sequence>
      <xs:element minOccurs="0" name="therapyDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="therapyId" type="xs:int" />
      <xs:element minOccurs="0" name="therapyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Therapy" nillable="true" type="tns:Therapy" />
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="gameDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gameId" type="xs:int" />
      <xs:element minOccurs="0" name="gameName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="therapy" nillable="true" type="tns:Therapy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
  <xs:complexType name="ArrayOfTherapy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Therapy" nillable="true" type="tns:Therapy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTherapy" nillable="true" type="tns:ArrayOfTherapy" />
  <xs:complexType name="ArrayOfGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Game" nillable="true" type="tns:Game" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGame" nillable="true" type="tns:ArrayOfGame" />
  <xs:complexType name="PatientGameScore">
    <xs:sequence>
      <xs:element minOccurs="0" name="game" nillable="true" type="tns:Game" />
      <xs:element minOccurs="0" name="gameScoreList" nillable="true" type="tns:ArrayOfGameScore" />
      <xs:element minOccurs="0" name="level" type="xs:int" />
      <xs:element minOccurs="0" name="patientId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientGameScore" nillable="true" type="tns:PatientGameScore" />
  <xs:complexType name="ArrayOfGameScore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameScore" nillable="true" type="tns:GameScore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameScore" nillable="true" type="tns:ArrayOfGameScore" />
  <xs:complexType name="GameScore">
    <xs:sequence>
      <xs:element minOccurs="0" name="datePlayed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="durationInMin" type="ser:duration" />
      <xs:element minOccurs="0" name="score" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameScore" nillable="true" type="tns:GameScore" />
  <xs:complexType name="PatientGames">
    <xs:sequence>
      <xs:element minOccurs="0" name="gameAssignments" nillable="true" type="tns:ArrayOfGameAssignment" />
      <xs:element minOccurs="0" name="patientId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientGames" nillable="true" type="tns:PatientGames" />
  <xs:complexType name="ArrayOfGameAssignment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameAssignment" nillable="true" type="tns:GameAssignment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameAssignment" nillable="true" type="tns:ArrayOfGameAssignment" />
  <xs:complexType name="GameAssignment">
    <xs:sequence>
      <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="game" nillable="true" type="tns:Game" />
      <xs:element minOccurs="0" name="level" type="xs:int" />
      <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameAssignment" nillable="true" type="tns:GameAssignment" />
</xs:schema>