EyeProject/Service References/EyeRef2/EyeWebService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://eyeplatform.azurewebsites.net/EyeWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" />
  <xs:element name="SetProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" minOccurs="0" name="newUser" nillable="true" type="q1:user" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetProfileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTypeId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTypeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserTypeIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListChildrenProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListChildrenProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" minOccurs="0" name="ListChildrenProfileResult" nillable="true" type="q2:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" minOccurs="0" name="GetPatientProfileResult" nillable="true" type="q3:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllProviderProfile">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllProviderProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" minOccurs="0" name="ListAllProviderProfileResult" nillable="true" type="q4:ArrayOfuser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetChildProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" minOccurs="0" name="newPatient" nillable="true" type="q5:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetChildProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" minOccurs="0" name="SetChildProfileResult" nillable="true" type="q6:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPatientsProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="providerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPatientsProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" minOccurs="0" name="ListPatientsProfileResult" nillable="true" type="q7:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProfileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" minOccurs="0" name="GetUserProfileResult" nillable="true" type="q8:user" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="childId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" minOccurs="0" name="GetParentProfileResult" nillable="true" type="q9:user" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProviderProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProviderProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" minOccurs="0" name="GetProviderProfileResult" nillable="true" type="q10:user" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUpdateTherapy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" minOccurs="0" name="newTherapy" nillable="true" type="q11:Therapy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUpdateTherapyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUpdateTherapyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUpdateGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" minOccurs="0" name="newGame" nillable="true" type="q12:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUpdateGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" minOccurs="0" name="CreateUpdateGameResult" nillable="true" type="q13:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllTherapy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllTherapyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" minOccurs="0" name="ListAllTherapyResult" nillable="true" type="q14:ArrayOfTherapy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllGamesForTherapy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="therapyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllGamesForTherapyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" minOccurs="0" name="ListAllGamesForTherapyResult" nillable="true" type="q15:ArrayOfGame" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTherapy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="therapyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTherapyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTherapyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListGameScoresForPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" minOccurs="0" name="patientGameScore" nillable="true" type="q16:PatientGameScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListGameScoresForPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" minOccurs="0" name="ListGameScoresForPatientResult" nillable="true" type="q17:PatientGameScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListGameAssignment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListGameAssignmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" minOccurs="0" name="ListGameAssignmentResult" nillable="true" type="q18:PatientGames" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGameScoresForPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" minOccurs="0" name="patientGameScore" nillable="true" type="q19:PatientGameScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGameScoresForPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" minOccurs="0" name="SetGameScoresForPatientResult" nillable="true" type="q20:PatientGameScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGameAssignment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" minOccurs="0" name="patientGames" nillable="true" type="q21:PatientGames" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGameAssignmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetGameAssignmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGameAssignment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" minOccurs="0" name="patientGames" nillable="true" type="q22:PatientGames" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGameAssignmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGameAssignmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>